@import '../../styles/variables';

.search-bar {
  width: 100%;
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  border: 2px solid $light-grey;
  outline: none;
  font-size: 1rem;

  &::placeholder {
    color: $grey;
  }

  &:focus,
  &:active {
    border-color: $light-blue;
  }
}
