.comment {
  margin-bottom: 2rem;
  display: flex;

  .img-container {
    margin-right: 1rem;
    border-radius: 50%;
  }

  &-name {
    font-weight: 500;
    margin-bottom: 0.4rem;
  }

  &-body {
    font-size: 15px;
  }

  &:last-child {
    margin-bottom: 1rem;
  }
}
