@import '../../styles/variables';

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  text-align: center;

  img {
    width: 70px;
    height: 70px;
  }

  h2 {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.95rem;
  }

  a {
    text-decoration: underline;
    color: $light-blue;
    cursor: pointer;
  }
}
